@model Homework.Models.MoneyList

@Html.AntiForgeryToken()

<div class="well" style="margin-top: 80px">
    @using (Html.BeginForm("","","", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="category" class="col-sm-2 control-label">類別</label>
            <div class="col-sm-10">
                <select id="category" name="category" class="form-control">
                    <option value="" selected>請選擇</option>
                    <option value="0">支出</option>
                    <option value="1">收入</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="money" class="col-sm-2 control-label">金額</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Money, new {@class = "form-control", @id = "money", @placeholder = "金額", @type = "text"})
                @Html.ValidationMessageFor(model => model.Money, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-sm-2 control-label">日期</label>
            <div class="col-sm-10">
                @Html.EditorFor(model => model.Date, new {@class = "form-control", @id = "date", @placeholder = "日期"})
                @Html.ValidationMessageFor(model => model.Date, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">備註</label>
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.Description, new {@class= "form-control", @id = "description", @name = "description" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-8 col-sm-4">
                @if (HttpContext.Current.User.Identity.Name == "vip@test.com")
                {
                    @Html.Action("EditButton")
                }
                <button type="submit" value="Index" class="btn btn-default">送出</button>
            </div>
        </div>
    }
</div>

@Html.Action("List")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}