@using Homework.Enums
@model IEnumerable<Homework.Models.MoneyList>

@{
    Layout = null;
}

<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            string category;

            switch (item.Category)
            {
                case Category.Expend:
                    category = "支出";
                    break;
                default:
                    category = "收入";
                    break;
            }
             <tr>
                 <td>
                     @Html.DisplayFor(modelItem => item.Number)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => category)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Money)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Date)
                 </td>
             </tr>
         }
    }

</table>
